#root {
    width: 100vw;
    height: 100dvh;
    overflow-y: scroll;
    /* scroll-snap-type: y proximity; */
    /* scroll-snap-type: y mandatory; */
    background-image: url("/src/assets/Background Waves.svg");
    background-size: cover;
    background-attachment: local;
    color: white;

    /*
    background-image: url("/src/assets/Dark Background Waves.svg")
     > h1,
    h2,
    h3,
    h4,
    p,
    div > h1 {
        mix-blend-mode: difference;
    } */
}

button {
    background-color: transparent;
}

.page {
    /* scroll-snap-align: start; */
    padding-top: 5vh;
    margin: 0 10vw;

    > h1 {
        letter-spacing: -1.7px;
        margin-top: 0;
    }
}

.landing-page {
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 0%;
    display: grid;
    place-items: center;
}

.landing-page-grid {
    > * {
        margin: 0;
    }
    height: fit-content;
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;

    > h1 {
        align-self: flex-end;
        font-size: clamp(48px, 7rem, 10vw);
    }

    > h2 {
        align-self: flex-end;
    }

    > h3 {
        align-self: center;
        grid-row: 2 / 3;
    }

    > button {
        font-size: clamp(22px, 3rem, 5vw);
        align-self: center;

        padding: 0;
        background: none;
        grid-column: 2 / 3;
        width: fit-content;
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        height: 90%;
        align-items: center;
        justify-items: center;
        > h1 {
            margin: 0px;
        }
        > h2 {
            text-align: center;
        }
        > h3 {
            grid-row: 3 / 4;
        }
        > button {
            grid-column: unset;
            width: 50%;
        }
    }
}

/* Stack Page */

@media screen and (max-width: 400px) {
    .stack-item-card {
        justify-content: flex-start;
    }
    .stack-item-card > p {
        margin-top: 0;
        grid-column: unset;
    }
    .stack-item-image {
        display: none;
    }
    #learn-more {
        grid-column: unset;
    }
}

.stack-page {
    height: 100dvh;
}

.stack-item-card {
    height: 30vh;

    display: grid;
    grid-template-columns: 1fr 2fr;

    box-shadow: 0 4px 8px 0 rgb(53, 42, 84, 0.5);
    border-radius: 15px;

    padding: 10%;
    background-color: rgb(53, 42, 84, 0.5);

    > svg {
        width: clamp(120px, 20vw, 200px);
        animation: rotation 0.3s 1 linear;
        grid-row: 1 /4;
        align-self: center;
    }
    > h1 {
        font-size: max(22px, min(calc(2rem + 0.5vw), 100vw));
        margin: 0;
        margin-left: 30px;
    }
    > p {
        grid-column: 2;
    }
    #learn-more {
        margin-top: auto;
        grid-column: 2;
        color: #cdcfff;
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;

        > svg {
            display: none;
            visibility: hidden;
        }
        > p {
            grid-column: unset;
        }
        > #learn-more {
            margin-top: auto;
            grid-column: unset;
        }
        > h1 {
            margin-left: 0;
        }
    }
}

.icons-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 2vw;
    margin-bottom: 5vh;
    div > svg {
        width: 50px;
        &:hover,
        &:focus {
            filter: drop-shadow(0 0 15px #352a54);
        }
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(10deg);
    }
    75% {
        -webkit-transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

#about-me-paragraph {
    text-align: justify;
}

.resume-grid {
    /* background: linear-gradient(#ffda55, #ffda55) no-repeat left/20px 100%; */

    > div {
        text-align: justify;
        margin-bottom: 10vh;
    }

    @media (min-width: 700px) {
        /* background: linear-gradient(#ffda55, #ffda55) no-repeat center/20px 100%; */
        > div:nth-child(odd) {
            margin-right: 50%;
        }
        > div:nth-child(odd) > h4 {
            text-align: right;
        }
        > div:nth-child(even) {
            margin-left: 50%;
        }
    }
}
