#root {
    scroll-snap-type: y proximity;

    width: 100vw;
    height: 100dvh;
    overflow-y: scroll;

    background-image: url("/src/assets/Background Waves.svg");
    background-size: cover;
    background-attachment: local;
    color: white;

    /* --card-bg-color: rgb(53, 42, 84, 0.5); */
    --card-bg-color: rgba(53, 42, 84, 0.258);
}

button {
    background-color: transparent;
}

.page {
    scroll-snap-align: start;

    padding-top: 5vh;
    margin: 0 10vw;

    > h1 {
        letter-spacing: -1.7px;
        margin-top: 0;
    }
}

.landing-page {
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 0%;
    display: grid;
    place-items: center;
}

.landing-page-grid {
    > * {
        margin: 0;
    }
    height: fit-content;
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;

    > h1 {
        align-self: flex-end;
        font-size: clamp(48px, 7rem, 10vw);
    }

    > h2 {
        align-self: flex-end;
    }

    > h3 {
        align-self: center;
        grid-row: 2 / 3;
    }

    #landing-page-buttons {
        height: fit-content;
        width: 100%;

        display: flex;
        gap: 2vw;
        grid-column: 2 / 3;
        > button {
            font-size: clamp(22px, 3rem, 5vw);
            align-self: center;

            padding: 0;
            background: none;
            width: 40%;
        }
        #github-logo {
            width: 40%;
            > * {
                width: clamp(22px, 3rem, 5vw);
            }
        }
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        height: 90%;
        align-items: center;
        justify-items: center;
        > h1 {
            margin: 0px;
        }
        > h2 {
            text-align: center;
        }
        > h3 {
            grid-row: 3 / 4;
        }
        #landing-page-buttons {
            grid-column: unset;
            justify-content: center;
            > button {
                font-size: clamp(22px, 5rem, 10vw);
                width: 30%;
            }
            #github-logo {
                width: 30%;
                > * {
                    width: clamp(22px, 5rem, 10vw);
                }
            }
        }
    }
}

/* Stack Page */

@media screen and (max-width: 400px) {
    .stack-item-card {
        justify-content: flex-start;
    }
    .stack-item-card > p {
        margin-top: 0;
        grid-column: unset;
    }
    .stack-item-image {
        display: none;
    }
    #learn-more {
        grid-column: unset;
    }
}

.stack-page {
    height: 100dvh;
}

.stack-item-card {
    height: 30vh;

    display: grid;
    grid-template-columns: 1fr 2fr;

    box-shadow: 0 4px 8px 0 rgb(53, 42, 84, 0.5);
    border-radius: 15px;

    padding: 10%;
    background-color: var(--card-bg-color);

    > svg {
        width: clamp(120px, 20vw, 200px);
        grid-row: 1 /4;
        align-self: center;
        animation: glow 2s infinite linear, rotation 0.3s 1 linear;
    }
    > h1 {
        font-size: max(22px, min(calc(2rem + 0.5vw), 100vw));
        margin: 0;
        margin-left: 30px;
    }
    > p {
        grid-column: 2;
    }
    #learn-more {
        margin-top: auto;
        grid-column: 2;
        color: #cdcfff;
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;

        > svg {
            display: none;
            visibility: hidden;
        }
        > p {
            grid-column: unset;
        }
        > #learn-more {
            margin-top: auto;
            grid-column: unset;
        }
        > h1 {
            margin-left: 0;
        }
    }
}

.icons-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 2vw;
    margin-bottom: 5vh;
    > div > svg {
        width: 50px;
        &:hover,
        &:focus {
            filter: drop-shadow(0 0 15px antiquewhite);
        }
    }
}

#focused-item {
    /* filter: drop-shadow(0 0 15px antiquewhite); */
    > svg {
        animation: glow2 2s infinite linear;
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(10deg);
    }
    75% {
        -webkit-transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}
@keyframes glow {
    0% {
        filter: drop-shadow(0 0 10px #bdaaf1);
    }
    50% {
        filter: drop-shadow(0 0 20px #bdaaf1);
    }
    100% {
        filter: drop-shadow(0 0 10px #bdaaf1);
    }
}
@keyframes glow2 {
    0% {
        filter: drop-shadow(0 0 7px antiquewhite);
    }
    50% {
        filter: drop-shadow(0 0 15px antiquewhite);
    }
    100% {
        filter: drop-shadow(0 0 7px antiquewhite);
    }
}

#about-me-paragraph {
    text-align: justify;
    color: white;
    box-shadow: 0 4px 8px 0 rgb(53, 42, 84, 0.5);
    border-radius: 15px;

    padding: 3% 10%;
    background-color: var(--card-bg-color);
}

.resume-grid {
    /* background: linear-gradient(#ffda55, #ffda55) no-repeat left/20px 100%; */
    box-shadow: 0 4px 8px 0 rgb(53, 42, 84, 0.5);
    border-radius: 15px;
    margin-bottom: 5vh;

    padding: 3% 10%;
    background-color: var(--card-bg-color);
    > div {
        text-align: justify;
        margin-bottom: 10vh;
    }

    @media (min-width: 700px) {
        /* background: linear-gradient(#ffda55, #ffda55) no-repeat center/20px 100%; */
        > div:nth-child(odd) {
            margin-right: 50%;
        }
        > div:nth-child(odd) > h4 {
            text-align: right;
        }
        > div:nth-child(even) {
            margin-left: 50%;
        }
    }
}
